* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 100px;
}

.pic-of-me {
    width: 35vw;
    height: auto;
}

.title {
    margin-top: 100px;
    font-size: 30px;
}

.colorful-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    background: #FE555E;
    background: -webkit-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: -moz-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid {
    display: grid;
    grid-template-areas: "left right";
    gap: 10px;
    margin-top: 60px;
}

.left-grid {
    grid-area: left;
}

.right-grid {
    grid-area: right;
}

.contact-flex {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-pic {
    width: 40px;
    height: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-text {
    font-size: 20px;
    margin: 0;
}

.red-triangle-full-1 {
    width: 25px;
    height: auto;
    transform: rotate(230deg);
    bottom: 100px;
    right: 300px;
    position: absolute;
}

.red-triangle-empty-1 {
    width: 40px;
    height: auto;
    transform: rotate(15deg);
    top: 100px;
    right: 110px;
    position: absolute;
}

.red-square-empty-1 {
    width: 25px;
    height: auto;
    transform: rotate(260deg);
    top: 300px;
    right: 50px;
    position: absolute;
}

.yellow-square-empty-1 {
    width: 20px;
    height: auto;
    top: 150px;
    right: 300px;
    position: absolute;
}

.yellow-square-empty-2 {
    width: 40px;
    height: auto;
    bottom: 50px;
    right: 60px;
    position: absolute;
    transform: rotate(20deg);
}

.yellow-circle-full-1 {
    width: 20px;
    height: auto;
    bottom: 350px;
    right: 200px;
    position: absolute;
}

.yellow-circle-empty-1 {
    width: 30px;
    height: auto;
    bottom: 300px;
    right: 450px;
    position: absolute;
}

.yellow-square-full-1 {
    width: 25px;
    height: auto;
    bottom: 200px;
    left: 600px;
    position: absolute;
    transform: rotate(-10deg);
}

.red-square-empty-2 {
    width: 30px;
    height: auto;
    transform: rotate(20deg);
    bottom: 50px;
    left: 300px;
    position: absolute;
}

.yellow-triangle-full-1 {
    width: 30px;
    height: auto;
    bottom: 150px;
    left: 50px;
    position: absolute;
    transform: rotate(-15deg);
}

.red-circle-empty-1 {
    width: 35px;
    height: auto;
    bottom: 400px;
    left: 30px;
    position: absolute;
}

.yellow-circle-full-2 {
    width: 25px;
    height: auto;
    top: 120px;
    left: 130px;
    position: absolute;
}

.red-triangle-full-2 {
    width: 30px;
    height: auto;
    top: 40px;
    left: 40px;
    position: absolute;
    transform: rotate(15deg);
}

.red-square-full-1 {
    width: 25px;
    height: auto;
    top: 120px;
    left: 450px;
    position: absolute;
    transform: rotate(15deg);
}

footer {
    margin-top: 60px;
}