* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 50px;
}

.intro-text {
    font-size: 25px;
    font-variant: normal;
    font-weight: normal;
}

.intro-text-1 {
    margin-bottom: 0;
    margin-top: 60px;
}

.intro-text-2 {
    margin: 0;
}

.color-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 35px;
    background: #FE555E;
    background: -webkit-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: -moz-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text {
    font-size: 12px;
    font-variant: normal;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 20px;
}

.see-work {
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 130px;
    height: 40px;
    background: #FE555E;
    background: linear-gradient(to right, #FE555E, #FDBC1D);
    border: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.skills {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10vw;
    margin-bottom: 20px;
}

.skill-pic {
    width: 60px;
    height: auto;
}

.skill-set {
    display: flex;
    gap: 25px;
}

footer {
    margin-top: 200px;
}

.pic-of-me {
    width: 30vw;
    height: auto;
    margin-top: 30px;
    max-width: 400px;
}

.grid-container {
    display: grid;
    grid-template-areas: "left right";
    gap: 15px;
}

.left-grid {
    grid-area: left;
}

.right-grid {
    grid-area: right;
}