* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 50px;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}

li {
    font-size: 20px;
    font-weight: normal;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.active-menu:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #5D5CE6;
    border-radius: 0.1rem;
    bottom: 0;
    left: 0;
}

.intro-text {
    font-size: 20px;
    font-variant: normal;
    font-weight: normal;
}

.color-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    background: #FE555E;
    background: background: -webkit-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: -moz-linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    background: linear-gradient(to right, #FE555E 0%, #FDBC1D 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text {
    font-size: 12px;
    font-variant: normal;
    font-weight: normal;
}

.see-work {
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 130px;
    height: 40px;
    background: #FE555E;
    background: linear-gradient(to right, #FE555E, #FDBC1D);
    border: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
}

.skills {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px
}

.skill-pic {
    width: 60px;
    height: auto;
}

.skill-set {
    display: flex;
    gap: 20px;
}

footer {
    margin-top: 80px;
}

.copyright-footer {
    font-size: 10px;
    text-align: center;
}

.colorful-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background: #FE555E;
    background: -webkit-linear-gradient(to right, #FE555E 45%, #FDBC1D 55%);
    background: -moz-linear-gradient(to right, #FE555E 45%, #FDBC1D 55%);
    background: linear-gradient(to right, #FE555E 45%, #FDBC1D 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pic-of-me {
    width: 30vw;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-areas: "left right";
    gap: 15px;
}

.left-grid {
    grid-area: left;
}

.right-grid {
    grid-area: right;
}