* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 50px;
}

.work-menu {
    border: 2px solid #FE555E;
    width: 400px;
    height: 35px;
    border-radius: 8px;
    margin-top: 80px;
}

.work-menu-flex {
    display: flex;
    /* gap: 50px; */
}

.work-category-button-active {
    background-color: #FE555E;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

.work-category-button-border {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-right: 2px solid #FE555E;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.work-category-button-noborder {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-radius: 9px;
}