* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 50px;
}

.work-menu {
    border: 2px solid #FE555E;
    width: 400px;
    height: 35px;
    border-radius: 8px;
    margin-top: 80px;
}

.work-menu-flex {
    display: flex;
    /* gap: 50px; */
}

.work-category-button-active {
    background-color: #FE555E;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.work-category-button-border {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-right: 2px solid #FE555E;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.work-category-button-noborder {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-radius: 9px;
    cursor: pointer;
}

.program-info-flex {
    display: flex;
    margin-top: 20px;
    gap: 50px;
    align-items: center;
}

.program-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.program-icon {
    width: 40px;
    height: auto;
}

.js-icon {
    width: 40px;
    height: 41px;
}

.works-flex {
    margin-top: 30px;
    display: flex;
    gap: 100px;
}

.work-border {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.work-border-short {
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-border-medium {
    width: 300px;
    height: 270px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-midborder {
    margin-top: 10px;
    width: 300px;
    height: 2px;
    background-color: black;
    margin: 0;
}

.work-pic {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: auto;
}

.work-pic2 {
    width: 300px;
    height: auto;
    max-height: 210px;
}

.work-pic3 {
    width: 300px;
    height: 210px;
    border-radius: 10px;
}

.htmlwork-pic1 {
    width: 300px;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.htmlwork-pic2 {
    width: 300px;
    height: 171px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.uxwork-pic1 {
    width: 300px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.work-title {
    margin: 0;
    margin-top: 5px;
}

.icons {
    display: flex;
    gap: 15px;
}

.individual-icon {
    margin-top: 10px;
    width: 30px;
    height: auto;
}

.individual-icon-js {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}