* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
}

main {
    margin-left: 50px;
}

.work-menu {
    border: 2px solid #FE555E;
    width: 400px;
    height: 35px;
    border-radius: 8px;
    margin-top: 80px;
}

.work-menu-flex {
    display: flex;
    /* gap: 50px; */
}

.work-category-button-active {
    background-color: #FE555E;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.work-category-button-border {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-right: 2px solid #FE555E;
    cursor: pointer;
}

.work-category-button-noborder {
    background-color: white;
    border: none;
    height: 35px;
    width: 100px;
    color: #FE555E;
    border-radius: 9px;
    cursor: pointer;
}

.procreate-info {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.procreate-icon {
    width: 40px;
    height: auto;
}

.pics {
    margin-top: 30px;
    display: flex;
    gap: 110px;
    align-items: baseline;
}

.pics-row-2 {
    margin-top: 50px;
    display: flex;
    gap: 110px;
    align-items: baseline;
}

.pics-row-3 {
    margin-top: 50px;
    display: flex;
    gap: 110px;
    align-items: baseline;
}

.vertical-pic {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.horizontal-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
}